## IMPORTS

In [154]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [155]:
# loading the dataset to a pandas DataFrame
credit_card_data = pd.read_csv('Sample_Data/creditcard.csv')

In [156]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [157]:
credit_card_data.head(5)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [158]:
credit_card_data.tail(5)

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [159]:
# data set features are encrypted by principal component analysis
# amount is in us dollars
# if the class is 1 then it is a fraudulent transaction else it is not
# 2 days transaction data

In [160]:
# data set information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [161]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [162]:
# show the transaction class column
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [163]:
# 492 frauds out of 284,807 transactions
# the dataset is highly unbalanced

--> handling the unbalanced data

In [164]:

# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [165]:
legit.shape

(284315, 31)

In [166]:
fraud.shape

(492, 31)

In [ ]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [168]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [169]:
# comparing the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [170]:
# under-sampling
# build a sample dataset containing similar distribution of normal transactions and fraudulent transactions
# number of fraud transactions
legit_sample = legit.sample(n=492)

In [171]:
# concatenating two dataframes
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [172]:
new_dataset

            Time        V1        V2  ...       V28  Amount  Class
65874    51782.0  0.985125 -1.735421  ...  0.068398  313.43      0
255857  157434.0 -1.521088 -1.708103  ...  0.161768  165.01      0
101620   67895.0 -0.326965 -0.740525  ...  0.175552    1.00      0
249842  154604.0  2.192563 -0.611910  ... -0.066303    9.00      0
261510  160050.0 -0.907526  0.797012  ...  0.180719    1.00      0
...          ...       ...       ...  ...       ...     ...    ...
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[984 rows x 31 columns]

In [173]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [174]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      97497.042683 -0.023831  0.138689  ...  0.027544  0.008617   85.242520
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [175]:
# splitting the data into features and targets
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [176]:
X

            Time        V1        V2  ...       V27       V28  Amount
65874    51782.0  0.985125 -1.735421  ... -0.046081  0.068398  313.43
255857  157434.0 -1.521088 -1.708103  ... -0.114783  0.161768  165.01
101620   67895.0 -0.326965 -0.740525  ...  0.265631  0.175552    1.00
249842  154604.0  2.192563 -0.611910  ... -0.067378 -0.066303    9.00
261510  160050.0 -0.907526  0.797012  ...  0.018929  0.180719    1.00
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [177]:
Y

65874     0
255857    0
101620    0
249842    0
261510    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [178]:
# split the data into training data and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

--> MODEL TRAINING

In [179]:
# model training
# logistic regression
model = LogisticRegression()

In [180]:
# training the logistic regression model with training data
model.fit(X_train, Y_train)
# model evaluation
# accuracy score
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on training data : ', training_data_accuracy)
# accuracy on testing data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on testing data : ', testing_data_accuracy)

Accuracy on training data :  0.9440914866581956
Accuracy on testing data :  0.934010152284264

c:\Users\dibye\OneDrive\Desktop\Credit Card Fraud Detection\CCFD_ENV\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [181]:
# # model improvement
# # taking max features 3000
# model = LogisticRegression(max_iter=3000)

# model.fit(X_train, Y_train)

# X_train_prediction = model.predict(X_train)
# training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
# print('Accuracy on training data : ', training_data_accuracy)

# X_test_prediction = model.predict(X_test)
# testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)
# print('Accuracy on testing data : ', testing_data_accuracy)

In [182]:
# from sklearn.ensemble import BaggingClassifier
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score


# lr = LogisticRegression(solver='saga', class_weight='balanced', max_iter=1000)


# bagging_model = BaggingClassifier(
#     estimator=lr,           
#     n_estimators=10,
#     max_samples=0.8,
#     max_features=1.0,
#     random_state=42
# )


# bagging_model.fit(X_train, Y_train)


# train_pred = bagging_model.predict(X_train)
# test_pred = bagging_model.predict(X_test)

# print("Training Accuracy:", accuracy_score(Y_train, train_pred))
# print("Testing Accuracy:", accuracy_score(Y_test, test_pred))

In [183]:
# from sklearn.ensemble import VotingClassifier
# from sklearn.ensemble import RandomForestClassifier
# import xgboost as xgb


# lr = LogisticRegression(solver='saga', class_weight='balanced', max_iter=1000)
# rf = RandomForestClassifier(n_estimators=100, class_weight='balanced', random_state=42)
# xg = xgb.XGBClassifier(scale_pos_weight=(len(Y_train)-sum(Y_train))/sum(Y_train), use_label_encoder=False, eval_metric='logloss')


# voting_model = VotingClassifier(
#     estimators=[('lr', lr), ('rf', rf), ('xg', xg)],
#     voting='soft'   
# )


# voting_model.fit(X_train, Y_train)


# train_pred = voting_model.predict(X_train)
# test_pred = voting_model.predict(X_test)

# print("Training Accuracy:", accuracy_score(Y_train, train_pred))
# print("Testing Accuracy:", accuracy_score(Y_test, test_pred))

In [184]:
# from sklearn.ensemble import StackingClassifier

# base_models = [
#     ('lr', LogisticRegression(solver='saga', class_weight='balanced', max_iter=1000)),
#     ('rf', RandomForestClassifier(n_estimators=100, class_weight='balanced', random_state=42)),
#     ('xg', xgb.XGBClassifier(scale_pos_weight=(len(Y_train)-sum(Y_train))/sum(Y_train), use_label_encoder=False, eval_metric='logloss'))
# ]

# stack_model = StackingClassifier(
#     estimators=base_models,
#     final_estimator=LogisticRegression()
# )


# stack_model.fit(X_train, Y_train)

# train_pred = stack_model.predict(X_train)
# test_pred = stack_model.predict(X_test)

# print("Training Accuracy:", accuracy_score(Y_train, train_pred))
# print("Testing Accuracy:", accuracy_score(Y_test, test_pred))

In [185]:
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense
# from tensorflow.keras.optimizers import Adam

# # Build a simple MLP
# model = Sequential()
# model.add(Dense(16, input_dim=X_train.shape[1], activation='relu'))
# model.add(Dense(1, activation='sigmoid')) 


# model.compile(optimizer=Adam(0.001), 
#               loss='binary_crossentropy', 
#               metrics=['accuracy'])


# history = model.fit(X_train, Y_train, epochs=50, batch_size=32, validation_split=0.2)

# train_loss, train_acc = model.evaluate(X_train, Y_train, verbose=0)
# print("Training Accuracy:", train_acc)


# test_loss, test_acc = model.evaluate(X_test, Y_test, verbose=0)
# print("Testing Accuracy:", test_acc)

### GET BEST ACCURACY ON LOGISTIC ALGO AND MAX FEATURES method